1. Power of number

    Write a function `power` that takes a number `x` and returns either its square, cube, or any power based on a keyword argument `exp`. If `exp` is not provided, use square (default = 2).

    
    Input: power(5)                      
    Output: 25

    Input: power(5, exp=3)  
    Output: 125

2. Keyword arguments statement print

    Write a function that introduces a person with name, age, and city. Use *keyword arguments*.

    Input:
    `name`="abc", `city`="xyz", `age`=123

    Output:
    My name is abc, I am 123 years old, and I live in xyz.

3. Sum and mean

    Write a function that takes a list of numbers and returns both the sum and the mean.

    Input: [10, 20, 30]   
    Output: Sum = 60, Mean = 20

4. Write a function that prints a multiplication table of a given number.

    Input: 5    
    Output:

    5 * 1 = 5

    5 * 2 = 10

    5 * 3 = 15
    ...

    5 * 10 = 50

5. Write a function `normalize_list` that takes a list of positive numbers and normalizes them so that all values are scaled down between 0 and 1, and the sum of the list is 1. Modify the list in-place and return nothing.


    Input: [1, 4, 5]                
    Output: [0.1, 0.4, 0.5]

    Input: [1, 3, 4, 8]             
    Output: [0.0625, 0.1875, 0.25, 0.5]